<p id="notice"><%= notice %></p>

<div class="content">
  <div class="container">
    <div class="main">
      <h1><%= @header %></h1>
      <table class="table">
        <thead>
          <tr>
            <th>Month</th>
            <th>Year</th>
            <th>Volume</th>
            <th>Number</th>
            <th>PDF number</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @issues.each do |issue| %>
            <tr>
              <td><%= issue.month %></td>
              <td><%= issue.year %></td>
              <td><%= issue.volume %></td>
              <td><%= issue.volume_number %></td>
              <td><%= issue.pdf_number %></td>
              <td><%= link_to 'View Details', issue %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
