<script>
$(document).ready(function(){
  $(".toggle_answer").click(function(){
      $(".answer").toggle();
  });
});
</script>

<p id="notice"><%= notice %></p>
<div class="content">
  <div class="container">
    <div class="main">
      <h1><%= @header %></h1>
      <p>
        <strong>Author:</strong>
        <% if @article.person %>
          <%= link_to @article.person.name, @article.person %>
        <% else %>
          Unknown
        <% end %>
      </p>
      <p>
        <strong>Issue:</strong>
        <%= link_to @article.issue.name, @article.issue %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @article.type %>
      </p>

      <p>
        <strong>Text:</strong>
        <%= simple_format @article.text %>
      </p>

      <% unless @article.picture.blank? %>
        <p>
          <strong>Image: </strong>
          <%= image_tag @article.picture.url, :class => "isolated-image" %>
        </p>
      <% end %>

      <!-- <p>
        <strong>HTML:</strong>
        <%=raw @article.html %>
      </p> -->

      <% if @article.is_puzzle? %>
        <p><strong><a class="toggle_answer btn">Show/Hide Answer</a></strong></p>
        <%= simple_format @article.answer, {:class => "answer", :style => "display: none;"} %>
      <% end %>

      <%= link_to 'Edit Article', edit_article_path(@article) %>
    </div>
    <div class="aside">
      <% unless @same_author.blank? %>
        <h3>Articles by the Same Author:</h3>
        <ul class="list-unstyled">
          <% @same_author.each do |article| %>
            <li><%= link_to article.title, article %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
